<?xml version="1.0" encoding="utf-8"?>
<plugin 
    xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" 
    id="com.plineo.cordova.getfilename" 
    version="1.0.0">
    
    <engines>
        <engine name="cordova" version=">=2.8.0" />
    </engines>

    <name>Get File Name</name>

    <js-module src="www/getFilename.js" name="GetFilename">
        <clobbers target="getFilename" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">        
            <feature name="GetFilename">
                <param name="android-package" value="com.plineo.cordova.getfilename"/>
            </feature> 
        </config-file> 
                
        <source-file src="src/android/GetFilename.java" target-dir="src/com/plineo/cordova/getfilename"/>
                        
    </platform>
    
</plugin>
